<div class="card">
  <div class="card-content">
    <span class="card-title">Add Title</span>
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" placeholder="Add Title..." [(ngModel)]="item.title" name="title">
          <label for="">Title</label>
        </div>
        <div class="input-field col s6">
          <input type="text" placeholder="Add Detail..." [(ngModel)]="item.detail" name="detail">
          <label for="">Item Detail</label>
        </div>
        <input type="submit" value="Submit" class="btn">
      </div>
    </form>
  </div>
</div>